<!DOCTYPE html>
<html>
  <header>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
  </header>
  <body>
    <div class="main-content">
      <!--Start of NavBar-->
      <nav
        class="navbar navbar-expand-lg"
        style="background-color: #aeecef"
      >
        <div class="container-fluid">
          <a
            class="navbar-brand"
            href="account-main-page"
            >Pet Community</a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarColor01"
            aria-controls="navbarColor01"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Navbar - Default -->
          <div
            class="collapse navbar-collapse"
            id="navbarColor01"
          >
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="adoption-main-page"
                  >Adopt a pet</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="donor-main-page"
                  >Find a Donor</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="shelter-main-page"
                  >Donate to a Shelter</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="listapet-main-page"
                  >List a Pet for Adoption</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  href="petslist-filter-page"
                  >My Pets</a
                >
              </li>
              <li class="nav-item">
                <div class="dropdown">
                  <% for(var index = 0; index < user_account.length; index++){ %>
                    <% if(user_account[index]['id'] == user_id){ %>
                      <a class="nav-link" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><%= user_account[index]['user_first_name'] %> <%= user_account[index]['user_last_name'] %></a
                    >
                    <% } %>
                  <% } %>
                  <ul
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenuButton1"
                    style="margin-left: -1px"
                  >
                    <li>
                      <a
                        class="dropdown-item"
                        href="account-profile-page"
                        >My Profile</a
                      >
                    </li>
                    <!-- <li>
                      <a
                        class="dropdown-item"
                        href="account-messages-page"
                        >Messages</a
                      >
                    </li> -->

                    
                    <!-- <li><a class="dropdown-item" href="account-notification-page">Notifications</a></li> -->
                    <% for(var index = 0; index < user_account.length; index++){
                    %> <% if(user_account[index]['id'] == user_id){ %> <%
                    if(user_account[index]['user_type'] == "Shelter"){ %>
                    <li>
                      <a
                        class="dropdown-item"
                        href="account-activities-page"
                        >Reports</a
                      >
                    </li>
                    <% } %> <% } %> <% } %>
                    <li>
                      <a
                        class="dropdown-item"
                        href="/logout"
                        >Logout</a
                      >
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
          <!-- -->
        </div>
      </nav>
      <!--End of NavBar-->

      <div>
        <!-- <img src="/image/dog-with-gel.png"> -->
      </div>

      <!--Container-->
      <div style="margin-top: 5%; margin-left: 5%">
        <h2
          style="
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
            margin-left: 25px;
          "
        >
          List a pet
        </h2>
        <form
          action="/petlistingform"
          method="POST"
          onsubmit="update()"
          class="mx-1 mx-md-4"
          style="width: 40%; height: 40%"
          enctype="multipart/form-data"
        >
          <select
            class="form-select"
            name="data_selected"
            aria-label="Default select example"
            style="margin-bottom: 30px; margin-top: 30px"
            required
          >
            <option value="Donor">Donor</option>
            <option value="Adoption">Adoption</option>
          </select>

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <input
                type="text"
                id="petname"
                name="petname"
                class="form-control"
                required
              />
              <label
                class="form-label"
                for="Pet_name"
                >Name of Pet</label
              >
            </div>
          </div>
          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <input
                type="text"
                id="petcontact"
                name="petcontact"
                class="form-control"
                maxlength="11"
                required
              />
              <label
                class="form-label"
                for="contact"
                >Contact</label
              >
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <input
                type="text"
                id="petaddress"
                name="petaddress"
                class="form-control"
                required
              />
              <label
                class="form-label"
                for="address"
                >Complete Address</label
              >
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <input
                type="text"
                id="petcity"
                name="petcity"
                class="form-control"
                required
              />
              <label
                class="form-label"
                for="address"
                >City or Province</label
              >
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <input
                type="text"
                id="petage"
                name="petage"
                class="form-control"
                required
              />
              <label
                class="form-label"
                for="email"
                >Age</label
              >
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <input
                type="text"
                id="pettemper"
                name="pettemper"
                class="form-control"
                required
              />
              <label
                class="form-label"
                for="Temperament"
                >Temperament</label
              >
            </div>
          </div>
          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <input
                type="text"
                id="petdescription"
                name="petimmunization"
                class="form-control"
                required
              />
              <label
                class="form-label"
                for="Description"
                >Immunization</label
              >
            </div>
          </div>
          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <select
                class="form-select"
                aria-label="Default select example"
                name="pettype_selected"
                required
              >
                <option value="Dog">Dog</option>
                <option value="Cat">Cat</option>
              </select>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <div class="form-outline flex-fill mb-0">
              <input
                type="text"
                id="petdescription"
                name="petdescription"
                class="form-control"
                required
              />
              <label
                class="form-label"
                for="Description"
                >Brief Description of pet</label
              >
            </div>
          </div>

          <div class="mb-3">
            <input
              class="form-control"
              type="file"
              name="pet_image"
              id="input-file-now"
            />
            <label
              for="formFile"
              class="form-label"
              >Pet Image</label
            >
          </div>

          <div class="form-check d-flex justify-content-center mb-5">
            <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              id="form2Example3c"
            />
            <label
              class="form-check-label"
              for="form2Example3"
            >
              I agree all statements on listing a pet in
              <a href="#!">Terms of service</a>
            </label>
          </div>

          <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <input
              type="submit"
              class="btn btn-primary btn-lg"
              value="Add to list"
            />
            <a
              type="button"
              style="margin-left: 40px"
              class="btn btn-primary btn-lg"
              href="adoption-main-page"
              >Back</a
            >
          </div>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>

    <script>
      function update() {
        // console.log("test");

        // fetch("/upload", {
        //   method: "POST",
        //   headers: {'Content-Type': 'application/json'},
        //   body: JSON.stringify({
        //     pet_description: data.value,
        //   })
        // });
        try {
          var imageinput = document.getElementsByName("pet_image")[0];

          var file = imageinput.files[0];

          const formData = new FormData();

          formData.append("petimage", file);

          fetch("/upload", {
            method: "POST",
            // headers: { "Content-Type": "multipart/form-data" },
            body: formData,
          });
        } catch (e) {
          console.log(e);
        }
      }
    </script>
  </body>
</html>
