<!DOCTYPE html>
<html>
    <header>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  

    </header>

    <body>
        <!-- Donate to a Shelter main page-->
        <div class="main-content">
          <!--Start of NavBar-->
          <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="index-login-page">Pet Community</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
          
              <!-- Navbar - Default -->
              <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="adoption-main-page">Adopt a pet</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="donor-main-page">Find a Donor</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="shelter-main-page">Donate to a Shelter</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="listapet-main-page">List a pet</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="petslist-filter-page">My Pets</a>
                  </li>
                  <li class="nav-item">
                    <div class="dropdown">
                      <a class="nav-link" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Account 
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="account-profile-page">My Profile</a></li>
                        <li><a class="dropdown-item" href="account-messages-page">Messages</a></li>
                        <li><a class="dropdown-item" href="account-notification-page">Notification</a></li>
                        <li><a class="dropdown-item" href="account-activities-page">Previous Activities</a></li>
                        <li><a class="dropdown-item" href="/logout">Logout</a></li>
                      </ul>
                    </div>
                  </li>
                  
                </ul>
              </div>
              <!-- -->



            </div>
          </nav>
          <!--End of NavBar-->

          <!--Container-->
          <div>
            <h1>Page can't be found</h1>
          </div>



       
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
       
    </body>

</html>